@import "../theme.css";
 
.home-container {
  background-color: var(--surface)af5;
  color: var(--coffee);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 120px;
  box-sizing: border-box;
}

 
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--coffee);
  color: var(--surface);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar button {
  background-color: var(--accent-1);
  color: var(--coffee);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar button:hover {
  background-color: var(--accent-2);
}

 
.home-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 1.1rem;
  color: #4a3d3d;
}

 
.hero-btn {
  background-color: var(--coffee);
  color: white;
  border: none;
  padding: 0.9rem 1.5rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.hero-btn:hover {
  background-color: var(--coffee-900);
}

.nav-login {
  background-color: var(--accent-1);
  color: var(--coffee);
  border: none;
  padding: 0.9rem 1.5rem;
  border-radius: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.nav-login:hover {
  background-color: var(--accent-2);
}
 
.footer {
  margin-top: auto;
  background-color: var(--coffee);
  color: var(--surface);
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: relative;
}
